@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
.navbar {
    background: #D8DABA;
    height: 5rem;
    width: 100vw;
    max-width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    z-index: 1000; /* Ensure it's above other content */
}
.desktopMenu {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 20vw;
}
.desktopMenuListItem {
    padding-right: 1rem;
    margin: 1.2rem;
    cursor: pointer;
    color: #70AD61;
    font-family: "EB Garamond", system-ui;
    font-size: 30px;
    font-weight: bold;
}

.desktopMenuListItem:hover {
    color: #2b8f26;
}

.active {
    color: #2b8f26;
    font-weight: bold;
}
